
.itemsInList {
  width: 100%;
  background: white;
  border: 1px dotted black;
  color: #222;
  font-weight: 600;
  text-align: center;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.inputSearch {
  outline: none;
  color: white;
  height: 100%;
  width: 82%;
  background: transparent;
  border: none;
  text-align: center;
}
.divMainSearchBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.divSearchBarContent {
  width: 400px;
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.divInputSearch {height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}
.inputSearch::placeholder{
color: #8CBBE9;
}
.container{ 
  position: absolute;
  top: 8px;
  border-radius: 24px;
  right: 10%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto
}
.search  {
  background:#3B8AD9;
  width: 100%;
  display: flex;
  height: 45px;
  align-items: center
}
.inputSearch  {background:#3B8AD9;
  width: 100%;
  height: 100%
}
.inputSearch:focus{
  outline: none;
}
.zindexMax  {
  z-index: 9999
}